.myImg {
    margin: 0%;
    height : 100vh;
    width: 100vw;
    background-image : url('../img/Gradient.png');
    background-size : cover;
    background-position : center;
    background-repeat : no-repeat;
    background-attachment: fixed;
    filter: brightness(100%);
}
/* 뒷배경 */
.circle {
    width : 8vw;
    height : 12vh;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 24px;
    top: 24px;
    border: #ffffff;
}
/* 뒤로가기 */
.homeCircle {
    width : 8vw;
    height : 12vh;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 24px;
    bottom: 24px;
    border: #ffffff;
}
/* 홈버튼 */
.iconStyle{
    font-size: 70px;
    color: #90C6FE;
}
/* 아이콘 스타일*/
.buttonOne{
    display: flex;
    flex-direction: row;
    color: #2a2a2a;
    border-radius: 12px;
    align-items: center;
    position: absolute;
    margin:auto;
    width: 78vw;
    height: 70vh;
    left: 11vw;
    top: 16vh;
    border: 1px solid #ececec;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.buttonTwo{
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 14vw;
    height: 18vh;
    font-size: 250%;
    font-weight: 800;
    border-radius: 12px;
    left : 20vw;
    top: 48vh ;
    box-shadow: 5px 5px 5px 5px gray;
}
.buttonThree{
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 14vw;
    height: 18vh;
    font-size: 250%;
    font-weight: 800;
    border-radius: 12px;
    left : 44vw;
    top: 48vh ;
    box-shadow: 5px 5px 5px 5px gray;
}
.title{
    align-items: center;
    justify-content: space-around;
    border: #2a2a2a;
    position: absolute;
    width: 100%;
    font-size: 300%;
    font-weight: 800;
    top: 8% ;
    left: 1%;
}
/* 글씨 쓰는 부분 */
.textAlign{
    position: absolute;
    color: #2a2a2a;
    text-align: center;
    margin: 0%;
    font-size: 40px;
    vertical-align: bottom;
    top: 3vh;
    left: 1vw;
}
.textAlignOne{
    color: #2a2a2a;
    text-align: center;
    top: 1vh;
    margin: 0%;
}
.textAlignTwo{
    position: absolute;
    color: #2a2a2a;
    text-align: center;
    vertical-align: bottom;
    font-size: 300%;
    margin: 0%;
    top: 35vh;
    left: 14vw;
}
/* 텍스트 정렬 */
.book{
    position: absolute;
    height: 30%;
    width: 30%;
    left: 35%;
    top: 20%;
}
