.button{
    display: flex;
    flex-direction: row;
    color: #2a2a2a;
    border-radius: 12px;
    align-items: center;
    position: absolute;
    margin:auto;
    left: 98px;
    top: 120px;
}
.button-one{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ececec;
    width: 828px;
    height: 360px;
    font-weight: 800;
    border-radius: 12px;
}
/* 글씨 쓰는 부분 */
.h3-align{
    position: absolute;
    text-align:start;
    margin: 0%;
    font-size: 80px;
    top: 2vh;
    left: 10vw;
}
.h3-align-one{
    position: absolute;
    text-align: center;
    margin: 0%;
    font-size: 80px;
    top: 2vh;
    left: 50vw;
}
.text-align{
    position: absolute;
    text-align: center;
    font-size: 44px;
    vertical-align: bottom;
    top: 15vh;
    left: 5vw;
}
.text-align-two{
    position: absolute;
    text-align: center;
    vertical-align: auto;
    font-size: 44px;
    top: 15vh;
    left: 48vw;
}
/* 텍스트 정렬 */
.arrow-right{
    position: absolute;
    justify-self: center;
    top: 25vh;
    left: 38vw
}
/* 오른쪽 화살표 */
