.button{
    display: flex;
    flex-direction: row;
    color: #2a2a2a;
    border-radius: 12px;
    align-items: center;
    position: absolute;
    margin:auto;
    left: 98px;
    top: 120px;
    box-shadow: 5px 5px 5px 5px gray;
}
.button-one{
    display: flex;
    flex-direction: row;
    color: #2a2a2a;
    border-radius: 12px;
    align-items: center;
    position: absolute;
    margin:auto;
    left: 566px;
    top: 120px;
    box-shadow: 5px 5px 5px 5px gray;
}
.button-two{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ececec;
    width: 360px;
    height: 360px;
    font-size: 70px;
    font-weight: 800;
    border-radius: 12px;
}
/* 오른쪽 버튼 */
.button-three{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ececec;
    width: 360px;
    height: 360px;
    font-size: 70px;
    font-weight: 800;
    border-radius: 12px;
}
/* 왼쪽 버튼 */
.text-align{
    position: absolute;
    text-align: center;
    vertical-align: auto;
    top: 5vh;
    left: 3vw;
}
/* 텍스트 정렬 */
