.myImg {
    margin: 0%;
    height : 100vh;
    width: 100vw;
    background-image : url('../img/Gradient.png');
    background-size : cover;
    background-position : center;
    background-repeat : no-repeat;
    background-attachment: fixed;
    filter: brightness(100%);
}
/* 뒷배경 */
.circle {
    width : 8vw;
    height : 12vh;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 24px;
    top: 24px;
    border: #ffffff;
}
/* 뒤로가기 */
.homeCircle {
    width : 8vw;
    height : 12vh;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 24px;
    bottom: 24px;
    border: #ffffff;
}
/* 홈버튼 */
.iconStyle{
    font-size: 70px;
    color: #90C6FE;
}
/* 아이콘 스타일*/
.buttonOne{
    display: flex;
    flex-direction: row;
    color: #2a2a2a;
    border-radius: 12px;
    align-items: center;
    position: absolute;
    margin:auto;
    width: 78vw;
    height: 70vh;
    left: 11vw;
    top: 16vh;
    border: 1px solid #ececec;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.buttonTwo{
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 14vw;
    height: 18vh;
    font-size: 48px;
    font-weight: 800;
    border-radius: 12px;
    left : 20vw;
    top: 45vh ;
    box-shadow: 5px 5px 5px 5px gray;
}
.buttonThree{
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 14vw;
    height: 18vh;
    font-size: 48px;
    font-weight: 800;
    border-radius: 12px;
    left : 44vw;
    top: 45vh ;
    box-shadow: 5px 5px 5px 5px gray;
}
/* 글씨 쓰는 부분 */
.h3Text{
    position: absolute;
    text-align: center;
    font-size: 300%;
    margin: 0%;
    top: 3vh;   
    left: 10vw;
}
.textAlignOne{
    position: relative;
    color: #2a2a2a;
    text-align: center;
    margin: 0%;
    font-size: 36px;
    top: 5vh;
}
.table{
    position: absolute;
    left: 22%;
    top: 30%;
    font-size: 200%;
    border: solid #2a2a2a;
}
/* 텍스트 정렬 */

