.button{
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    position: absolute;
    margin:auto;
    left: 9vw;
    top: 8vh;
}
.button-one{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    width: 80vw;
    height: 85vh;
    font-weight: 800;
    border-radius: 12px;
}
.button-two{
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 180px;
    height: 160px;
    font-size: 70px;
    font-weight: 800;
    border-radius: 12px;
    left : 18vw;
    top: 50vh ;
    box-shadow: 5px 5px 5px 5px gray;
}
.button-three{
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 180px;
    height: 160px;
    font-size: 60px;
    font-weight: 800;
    border-radius: 12px;
    left : 46vw;
    top: 50vh ;
    box-shadow: 5px 5px 5px 5px gray;
}
/* 글씨 쓰는 부분 */
.text-align{
    position: absolute;
    color: #2a2a2a;
    text-align: center;
    margin: 0%;
    font-size: 40px;
    vertical-align: bottom;
    top: 3vh;
    left: 18vw;
}
.text-align-one{
    position: absolute;
    text-align: center;
    color: #2a2a2a;
    font-size: 40px;
    vertical-align: bottom;
    margin: 0%;
    top: 12vh;
    left: 18vw;
}
.text-align-two{
    position: absolute;
    color: #2a2a2a;
    text-align: center;
    font-size: 40px;
    vertical-align: bottom;
    margin: 0%;
    top: 28vh;
    left: 16vw;
}
.text-align-three{
    position: relative;
    color: #2a2a2a;
    text-align: center;
    margin: 4%;
    font-size: 40px;
    top: 45px;
    
}
/* 텍스트 정렬 */
